<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.carlosrafaelgn.fplay"
    android:installLocation="auto"
    android:versionCode="28"
    android:versionName="0.96" >

    <!-- versionCode must be kept in sync with UI.VERSION_CODE -->

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- http://developer.android.com/guide/topics/manifest/supports-screens-element.html -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- For Google Drive -->
    <!-- uses-permission android:name="android.permission.GET_ACCOUNTS" -->
    <!-- For http playback -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For android.media.audiofx.Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- See this: http://developer.android.com/reference/android/bluetooth/BluetoothHeadset.html#ACTION_AUDIO_STATE_CHANGED -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- http://developer.android.com/reference/android/Manifest.permission.html#READ_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For exporting files/settings -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- For android.media.audiofx.PresetReverb -->
    <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
    


    <!--
    Just to make Google Play show the App even to phones without Bluetooth,
    despite the uses-permission below!
    -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="FPlay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.carlosrafaelgn.fplay.activity.ActivityHost"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:label="FPlay"
            android:launchMode="singleTask"
            android:multiprocess="false"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.carlosrafaelgn.fplay.activity.ActivityVisualizer"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:label="@string/visualizer"
            android:multiprocess="false"
            android:parentActivityName="br.com.carlosrafaelgn.fplay.activity.ActivityHost"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.carlosrafaelgn.fplay.activity.ActivityHost" />
        </activity>

        <service
            android:name="br.com.carlosrafaelgn.fplay.playback.Player"
            android:enabled="true"
            android:exported="false"
            android:label="Player"
            android:stopWithTask="false" />

        <receiver
            android:name="br.com.carlosrafaelgn.fplay.WidgetMain"
            android:label="FPlay" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/main_widget_info" />
        </receiver>
        <receiver android:name="br.com.carlosrafaelgn.fplay.ExternalReceiver" >
            <intent-filter>

                <!-- MEDIA_BUTTON broadcast action MUST be declared in the application manifest!!! -->
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>